.app-assistance-form-text-area {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #707876;
  height: 10rem;
  padding: 2rem;
  font-size: 1.6rem;
}

.app-assistance-form-text-area-container {
  margin-top: 2rem;
}