@media screen and (min-width: 769px) {
  .navbar {
    padding: 1.5rem 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }
}


.fixed-navbar {
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 1s ease-out;
  -webkit-transition: box-shadow 1s ease-out;
  -moz-transition: box-shadow 1s ease-out;
  -o-transition: box-shadow 1s ease-out;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-color: #fff;
}
@media screen and (min-width: 769px) {
  .navbar-nav {
    font-size: 1.6rem;
    color: #0D3E53;
    flex-basis: 33%;
  }
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: none
  }
}

@media screen and (min-width: 769px) {
  .navbar-glade-fdn-text {
    font-size: 2.6rem;
    font-weight: 500;
    flex-basis: 33%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .navbar-glade-fdn-text {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .navbar-input-button-section {
    display: flex;
    align-items: center;
    flex: 0 0 33%;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 768px) {
  .navbar-input-button-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.navbar-input-symbol-input-section {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .navbar-input-naira-symbol {
    font-size: 3rem;
    margin-right: 5px;
    align-self: end;
  }
}

@media screen and (max-width: 768px) {
  .navbar-input-naira-symbol {
    font-size: 2.5rem;
    margin-right: 1px;
    align-self: end;
  }
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 769px) {
  .navbar-btn {
    width: 11rem;
    border-radius: 1rem;
    border: none;
    padding: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-btn {
    width: auto;
    border-radius: 1rem;
    border: none;
    padding: .9rem;
  }
}

@media screen and (min-width: 769px) {
  .donate-btn-icon {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 769px) {
  .donate-btn-icon {
    width: 1rem;
    height: 1rem;
  }
}

@media screen and (min-width: 769px) {
  .donate-btn-text {
    font-size: 1.6rem;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .donate-btn-text {
    font-size: 1.3rem;
    margin: 0;
  }
}

.donate-btn-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}